body {
    background: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.title{
    font-size: 500 px;
    border: 2px dotted #C4A484;
    padding: 15x;
    width: 500px;
    margin: 10px  auto;
    margin-bottom: 20px;
    text-align: center;
    color: #ee8d8c;
}

.Subsection{
    background: #FFB6C1;
    padding: 1px;
    border: 2px solid white;
    margin: 20px;
    width: 500px;
    align-self: center;
    border: 0.5px solid black;
}
.Header{
    background: lightblue; 
    text-align: center;
    font-size: 20px;
    border: 2px solid white;
    width: 275px;
    margin: 5px auto;
    padding: 0px;

}

.Description{
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;

}

img{
    margin: 0 auto;
    width: 300px;
    height: 300px;
   
}
.image{
    text-align: center;

}